container_commands:
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: mysite/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: mysite.settings
  - option_name: AWS_SECRET_KEY
    value: dbmN5XSck/XHQD4t2k2VPfEr9ycvFO3LBE1RlBjZ
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAI2CIIGP6NH7AXBCA
