container_commands:
  01_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02_createadmin:
    command: "scripts/createadmin.py"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  04_migrate_django_twilio:
    command: "./manage.py migrate django_twilio --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: mysite/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: settings
  - option_name: AWS_SECRET_KEY
    value: YOUR_SECRET_KEY
  - option_name: AWS_ACCESS_KEY_ID
    value: YOUR_ACCESS_KEY_ID

